<!DOCTYPE html>
<html class="pack">

<head>
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" >
<meta name="keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="Keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta name="Description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta property="og:type" content="website" >
<meta property="og:description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta http-equiv="expires" content="1 Dec 2018">
<meta name="robots" content="all" >
<meta name="author" content="张阳扬" >
<meta name="Copyright" content="Copyright &copy; 2008 - 2018 TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.汤姆的项目网络科技有限公司 版权所有" >
<title>留言页面 | 给小学同学们的留言 | Toms Project | Toms Project 移动端网页</title>
<style type="text/css">
.pack{
				background-color:#FFFFCC;
}
.style1 {
				text-align: center;
				font-size: xx-large;
}
.ddd{
		        background-color:silver;
		        border-radius:25px;
                -moz-border-radius:25px;
                border:2px solid #a1a1a1;
}
.ll{
				font-size:xx-small;
}
.style2 {
				text-align: center;
				font-size:large;
}
.style3 {
				text-align: center;
				border: 2px solid #a1a1a1;
				padding: 7px 0px;
				background: #dddddd;
				border-radius: 25px;
				-moz-border-radius: 25px;
				margin-left: 20px;
}
.style4 {
				text-align: left;
				font-size:x-large;
}
.h{
				text-align:center;
				margin-top:60px;
}
.footer_copyright
{
				background-color:gray;
				color:white;
			    text-align:center;
			    height:220px;
			    font-size:19px;
}
.nos{
				text-align:center;
				color:red;
				font-size:60px;
				width:80%;
				margin-left:11%;
}

</style>
<link rel="icon" type="../../image/图标" href="../../image/图标/big/1.png">

</head>

<body>
<h1 class="style1">
<b>
<font size="7" >
<marquee behavior="alternate" width="90%" scrollamount="10" scrolldelay="1">留言页面</marquee>
</font>
</b>
</h1>
<div class="ddd" style="width: 90%; height: 45px">
<div > <br class="ll">
<span lang="zh-cn">&nbsp;&nbsp; </span><img src="../../image/框架/arrowg.gif"alt=""> 
<a href="../主页.htm"style="text-decoration:none">首页</a>
--&gt;当前位置</div>
</div>
<p class="style2">您好，欢迎来到 TOMS PROJECT 官方网站！您可以在这里查看我写给同学们的留言！（目前仅限同学本人查看！）</p>
<div class="nos">
<noscript class="nos">
<pre>
<b>
OMG!!!!我们检测到你的浏览器可能因为太古老
不支持JavaScript的功能或者你没有对我们开启
Script功能的权限，请使用支持JavaScript功能
的浏览器或者开启Script权限，谢谢合作!!!!!
</b>
</pre>
</noscript>
</div>

<!--bbb-->
<div class="style3" style="width: 90%;height:55px">
<p class="style4">1.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp; &nbsp;&nbsp; 
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">2.&nbsp;&nbsp;&nbsp; 
<span style="color:red">
<strong>魏振坤</strong></span> &nbsp;&nbsp;  &nbsp;&nbsp;
 <a target="_blank" href="留言/30.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">3.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">4.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp; &nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">5.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;  &nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">6.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">7.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">8.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">9.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>
<br>
<div class="style3" style="width: 90%;height:55px">
<p class="style4">10.&nbsp;&nbsp;&nbsp; 
<span style="color:blue">
<strong>张阳扬</strong></span> &nbsp;&nbsp;  &nbsp;
 <a target="_blank" href="留言/38.htm"><button style="height:35px;width:70px;font-size:large">查看</button></a>
 </p>
</div>


<!--stopbbb-->

<h2 class="h"> <font size="7">猫 四 没 有 了 。 。 。</font><a style="color:blue" href="">刷新试试</a></h2>
<h2 class="h"> <font size="7" color="yellow">是不是想对我留言？</font><a target="_blank" style="color:blue" href="写留言.htm">点击这里</a></h2>

<div class="footer_copyright">  
<p class="pco"> Copyright © 2008 - <span id="footyear"></span><br> TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.<br><em>汤姆的项目网络科技有限公司 版权所有</em></p>                   
<p>本站由 张阳扬 开发制作</p>   
<p>粤ICP备16063159号</p>  

</div> 

<script type="text/javascript">  
 <!--2008-2018TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.-->
 function clock(){  
  var time=new Date();  
  var week;  
  switch (time.getDay()){         
    case 1: week="星期一"; break;  
    case 2: week="星期二"; break;  
    case 3: week="星期三"; break;  
    case 4: week="星期四"; break;  
    case 5: week="星期五"; break;  
    case 6: week="星期六"; break;  
    default: week="星期日";  
  }  
    var year=time.getFullYear();  
    var month=time.getMonth();  
    var date=time.getDate(); 
    var huor=time.getHours(); 
    var second=time.getSeconds(); 
    var minute=time.getMinutes();
    


    document.getElementById("footyear").innerHTML = year;  
  }  
  setInterval(clock,1000);  
</script> 
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>

</html>
