<!DOCTYPE html>
<html class="pack">

<head>
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312" >
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" >
<meta name="keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="Keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta name="Description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta property="og:type" content="website" >
<meta property="og:description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta http-equiv="expires" content="1 Dec 2018">
<meta name="robots" content="all" >
<meta name="author" content="张阳扬" >
<meta name="Copyright" content="Copyright &copy; 2008 - 2018 TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.汤姆的项目网络科技有限公司 版权所有" >
<title>资源下载 | Toms Project | Toms Project 移动端网页</title>

<script type="text/javascript" src="../../javascript/jq-1.8.2.js"></script>
<script type="text/javascript" src="../../javascript/main.1.js"></script>
<style type="text/css">
.nos{
				text-align:center;
				color:red;
				font-size:60px;
				width:80%;
				margin-left:11%;
}

.pack{
				background-color:#FFFFCC;
}
.style1 {
				text-align: center;
				font-size: xx-large;
}



.style2 {
				color: #FF0000;
}



.style3 {
				font-size: x-large;
}
.style4 {
				font-size: large;
}



.style5 {
				font-size: medium;
}
.ddd{
		         background-color:silver;
		        border-radius:25px;
                -moz-border-radius:25px;
                border:2px solid #a1a1a1;
}
.ll{
				font-size:xx-small;
}

.footer_copyright
{
				background-color:gray;
				color:white;
			    text-align:center;
			    height:220px;
			    font-size:19px;
}
.p2{
    margin: 0;
    font-family: helvetica,arial,sans-serif;
     color:yellow;
    font-weight: bold;

    text-shadow:0 0 0.2em #f87,
                -0 -0 0.2em #f87;
}

</style>
<link rel="icon" type="../../image/图标"  href="../../image/图标/big/1.png">

</head>

<body>
<h1 class="style1">
<b>
<font size="7" >
<marquee behavior="alternate" width="80%" scrollamount="10" scrolldelay="1">资源下载</marquee>
</font>
</b>
</h1>
<div class="ddd" style="width: 90%; height: 44px">
<div > <br class="ll">
<span lang="zh-cn">&nbsp;&nbsp; </span><img src="../../image/框架/arrowg.gif"alt=""> 
<a href="../主页.htm" style="text-decoration:none;color:blue">首页</a>
--&gt;当前位置</div>
</div>
<p>您好，欢迎来到 TOMS PROJECT 官方网站！您可以在这里下载我们的软件和项目！</p>
<div class="nos">
<noscript class="nos">
<pre>
<b>
OMG!!!!我们检测到你的浏览器可能因为太古老
不支持JavaScript的功能或者你没有对我们开启
Script功能的权限，请使用支持JavaScript功能
的浏览器或者开启Script权限，谢谢合作!!!!!
</b>
</pre>
</noscript>
</div>

<ul>
  <li><strong><span class="style3">软件资源</span></strong>
    <ul>
    <li><strong><span class="style4">scratch2项目（因为版权，原创，防抄袭等多方面原因，现在暂停下载该栏位内容，谢谢合作！！！）</span></strong><ul>
    <li><span class="style2">*请您先下载scratch2编辑器，然后才可以使用以下软件！下载：<a style="text-decoration:none;color:blue"  target="_blank" href="https://scratch.mit.edu/download">官网</a></span></li>
    <li><!--暂停下载01 ../../download/scratch 2/大老鼠新手.rar--><a target="_blank" style="text-decoration:none;color:blue" href="707.htm">No.1:大老鼠新手</a></li>
    <li><!--暂停下载02 ../../download/scratch 2/大老鼠.rar--><a target="_blank" style="text-decoration:none;color:blue" href="707.htm">No.2:大老鼠</a></li>
    <li><!--暂停下载03 ../../download/scratch 2/project.rar--><a target="_blank" style="text-decoration:none;color:blue" href="707.htm">No.3:project</a></li>
    <li><!--暂停下载04 ../../download/scratch 2/守卫家园.rar--><a target="_blank" style="text-decoration:none;color:blue" href="707.htm">No.4:守卫家园 beta-4.0（原61张阳扬004作品）</a></li>
    <li><!--暂停下载05 ../../download/scratch 2/2D MC(病毒版).rar--><a target="_blank" style="text-decoration:none;color:blue" href="707.htm">No.5:2D MC(病毒版)</a></li>
    <li><!--暂停下载06 ../../download/scratch 2/吓跑他们.rar--><a target="_blank"style="text-decoration:none;color:blue" href="707.htm">No.6:吓跑他们</a></li>
    </ul></li>
    <li><strong><span class="style4">C/C++语言软件</span></strong><ul>
    <li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/IP地址转换.exe">No.1IP地址转换</a></li>
    <li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/乘法计算器.exe">No.2乘法计算器</a></li>
    <li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/出租车收费.exe">No.3出租车收费</a></li>
    <li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/除法计算器.exe">No.4除法计算器</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/加法计算器.exe">No.5加法计算器</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/减法计算器.exe">No.6减法计算器</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/判断三角形类型.exe">No.7判断三角形类型</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/判断一个年份是不是闰年.exe">No.8判断一个年份是不是闰年</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/判断一个数是不是质数.exe">No.9判断一个数是不是质数</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/判断员工销售额.exe">No.10判断员工销售额</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/求平均分.exe">No.11求平均分</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue"href="../../download/C 语言软件/求总钱数.exe">No.12求总钱数</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue"href="../../download/C 语言软件/求最大公因数和最小公倍数.exe">No.13求最大公因数和最小公倍数</a></li>
<li><!--暂停下载 --><a style="text-decoration:none;color:blue"href="../../download/C 语言软件/统计字符中单词的数量.exe">No.14统计字符中单词的数量</a></li>
<li> <span class="p2">NEW!</span><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/乘方计算器.exe">No.15乘方计算器</a></li>
<li><span class="p2">NEW!</span><a style="text-decoration:none;color:blue" href="../../download/C 语言软件/特大数乘方计算器.exe">No.16特大数乘方计算器</a></li>


    </ul>
    </li>
    </ul>
    </li>
  <li ><strong><span class="style3">我的世界（PC版）</span></strong><ul>
  <li class="style4"><strong>材质包</strong>
  <ul class="style5">
  <li><span class="style2">*请您先下载我的世界PC/Java版，然后才可以使用以下材质包！下载：<a  style="text-decoration:none" target="_blank" href="https://minecraft.net/zh-hans/">官网</a></span></li>
  <li><a style="text-decoration:none;color:blue"href="../../download/我的世界（PC）/材质包/奇怪的生物.zip">No.1奇怪的生物</a></li>
    <li><a style="text-decoration:none;color:blue"href="../../download/我的世界（PC）/材质包/奇怪的一切.zip">No.2奇怪的一切</a></li>
  <li><a style="text-decoration:none;color:blue"href="../../download/我的世界（PC）/材质包/奇怪的一切2.zip">No.3奇怪的一切2</a></li>
  <li><a style="text-decoration:none;color:blue"href="../../download/我的世界（PC）/材质包/奇怪的一切3.zip">No.4奇怪的一切3</a></li>
  
  </ul></li>
  <li><strong><span class="style4">MOD/插件/JS</span></strong><ul>
  <li ><span class="style2">对不起，当前没有MOD/插件/JS！</span></li>
  </ul>
  </li>
  </ul></li>
</ul>
<div class="footer_copyright">  
<p class="pco"> Copyright &copy; 2008 - <span id="footyear"></span><br> TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.<br><em>汤姆的项目网络科技有限公司 版权所有</em></p>                   
<p>本站由 张阳扬 开发制作</p>
<p>粤ICP备16063159号</p>  
   
</div> 
<script type="text/javascript" src="../../javascript/main.1.js"></script>
 <script type="text/javascript" src="http://static.hwxuetang.com/js/floatadv.js"></script>
 <script type="text/javascript" src="../../JavaScript/clockstyle.min.js"></script>
<script type="text/javascript">  
 <!--2008-2018TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.-->
 function clock(){  
  var time=new Date();  
  var week;  
  switch (time.getDay()){         
    case 1: week="星期一"; break;  
    case 2: week="星期二"; break;  
    case 3: week="星期三"; break;  
    case 4: week="星期四"; break;  
    case 5: week="星期五"; break;  
    case 6: week="星期六"; break;  
    default: week="星期日";  
  }  
    var year=time.getFullYear();  
    var month=time.getMonth();  
    var date=time.getDate(); 
    var huor=time.getHours(); 
    var second=time.getSeconds(); 
    var minute=time.getMinutes();
    

       
    document.getElementById("footyear").innerHTML = year;  
  }  
  setInterval(clock,1000);  
</script> 
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>

</html>
