<!DOCTYPE html>
<html class="pack" xmlns="http://www.w3.org/1999/xhtml">

<head>
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312" >
<meta name="keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="Keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta name="Description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta property="og:type" content="website" >
<meta property="og:description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta http-equiv="expires" content="1 Dec 2018">
<meta name="robots" content="all" >
<meta name="author" content="张阳扬" >
<meta name="Copyright" content="Copyright &copy; 2008 - 2018 TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.汤姆的项目网络科技有限公司 版权所有" >
<title>共享文件 | Toms Project | Toms Project PC端网页</title>

<style type="text/css">
.pack{
				background-color:#FFFFCC;
}
.style1 {
				text-align: center;
				font-size: xx-large;
}
.ddd{
		        background-image:url('../../image/frame/111.gif')
}
.ll{
				font-size:xx-small;
}



.style2 {
				font-size: x-large;
}



.style3 {
				
}
.style4 {
				text-align: center;
				background-color: #FFFF00;
}
.footer_copyright
{
				background-color:gray;
				color:white;
			    text-align:center;
			    height:80px;
}
.nos{
				text-align:center;
				color:red;
				font-size:60px;
				width:80%;
				margin-left:11%;
}

 </style>
<link rel="icon" type="../../image/icon" href="../../image/icon/big/1.png">
<script type="text/javascript">
 function cloos(){
 var r=confirm("你认真阅读上传文章和规定了吗？？");
if (r==true)
  {
  alert("如果你上传的内容和规定不一样，我们将直接忽略！！！");
  }
else
  {
  alert("请认真阅读再上传！！！");
  }
}
 }
</script>
</head>

<body>
<h1 class="style1">
<b>
<font size="7" >
<marquee behavior="alternate" width="1200" scrollamount="10" scrolldelay="1">共享文件</marquee>
</font>
</b>
</h1>
<div class="ddd" style="width: 648px; height: 44px">
<div > <br class="ll">
<span lang="zh-cn">&nbsp;&nbsp; </span><img src="../../image/frame/arrowg.gif"alt=""> 
<a href="../index.htm" style="text-decoration:none">首页</a>
--&gt;当前位置</div>
</div>

<p>您好，欢迎来到 TOMS PROJECT 官方网站！您可以在这里上传和查看“scratch2项目软件”“C语言/C++软件”等的源文件！</p>
<div class="nos">
<noscript class="nos">
<pre>
<b>
OMG!!!!我们检测到你的浏览器可能因为太古老
不支持JavaScript的功能或者你没有对我们开启
Script功能的权限，请使用支持JavaScript功能
的浏览器或者开启Script权限，谢谢合作!!!!!
</b>
</pre>
</noscript>
</div>

<h2 class="style2"><strong>&nbsp; 上传专区</strong></h2>
<div>
<p class="style4"><strong>欢迎您选择为我们上传文件！
以下这一片文章和上传要求请您认真阅读！

</strong>
</p>
<p>文章</p>
<p>规定</p>
</div>
<!--上传文件--> 
<div style="color:blue;font-size:50px;text-align:center;">
<a onclick="cloos()" style="color:blue;font-size:50px;text-align:center;" target="_blank" href="upload.html">点我去上传！</a>
</div>



<div class="footer_copyright">  
<p class="pco"> Copyright &copy; 2008 - <span id="footyear"></span> TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.<em>汤姆的项目网络科技有限公司 版权所有</em></p>                   
<p>粤ICP备16063159号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 本站由 张阳扬 开发制作</p>  
</div> 
<script type="text/javascript">  
 <!--2008-2018TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.-->
 function clock(){  
  var time=new Date();  

  var week;  
  switch (time.getDay()){         
    case 1: week="星期一"; break;  
    case 2: week="星期二"; break;  
    case 3: week="星期三"; break;  
    case 4: week="星期四"; break;  
    case 5: week="星期五"; break;  
    case 6: week="星期六"; break;  
    default: week="星期日";  
  }  
    var year=time.getFullYear();  
    var month=time.getMonth();  
    var date=time.getDate(); 
    var huor=time.getHours(); 
    var second=time.getSeconds(); 
    var minute=time.getMinutes();
    


    document.getElementById("footyear").innerHTML = year;  
  }  
  setInterval(clock,1000);  
</script> 
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>

</html>