<!DOCTYPE html>
<html lang="cn" class="no-js">

    <head>
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

        <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="Keywords" content="TP,toms project,官网,tp,Toms project,Tp,TOMS PROJECT,tP,Toms Project,tomsproject,TOMSPROJECT,首页,主页,官方网站,视频网站,编程,张阳扬,帅哥,最棒,静态网页">
<meta name="description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta name="Description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta property="og:type" content="website" >
<meta property="og:description" content="你没有看错！！不要再犹豫了，这就是YOUTUBER Toms Project ，推特中最著名Toms Project 的官方网站！！还在想什么？赶紧单击鼠标进来看看吧！！！你会觉得不可思议的！！还在犹豫？如果你是一个程序猿，这里面肯定有你喜欢的C/C++,PHP,JS,HTML+CSS,ASP等等等等的项目！！！！如果你喜欢玩游戏，这里可有我亲手为你准备的不下100款游戏！！！！有的不止这些！！！像精彩文章，超级好看的视频，等等一切都有！！！还等什么，单击鼠标进来看看吧！！！！！！" >
<meta http-equiv="expires" content="1 Dec 2018">
<meta name="robots" content="all" >
<meta name="author" content="张阳扬" >
<meta name="Copyright" content="Copyright &copy; 2008 - 2018 TomsProject (BeiJing) Network Co.,Ltd. All Rights Reserved.汤姆的项目网络科技有限公司 版权所有" >
<title>请您先登录 | Toms Project | Toms Project PC端网页</title>
        <script type="text/javascript">
         function zyyf()
         {
           pasfor=getCookie('username')
if (pasfor!=null && pasfor!="")
  {alert(pasfor+',你已经登录过了')}

         }
        </script>
<script type="text/javascript">
function getCookie(c_name)
{
if (document.cookie.length>0)
{ 
c_start=document.cookie.indexOf(c_name + "=")
if (c_start!=-1)
{ 
c_start=c_start + c_name.length+1 
c_end=document.cookie.indexOf(";",c_start)
if (c_end==-1) c_end=document.cookie.length
return unescape(document.cookie.substring(c_start,c_end))
} 
}
return ""
}

function setCookie(c_name,value,expiredays)
{
var exdate=new Date()
exdate.setDate(exdate.getDate()+expiredays)
document.cookie=c_name+ "=" +escape(value)+
((expiredays==null) ? "" : "; expires="+exdate.toGMTString())
}

function checkCookie()
{
pasfor=getCookie('username')
if (pasfor!=null && pasfor!="")
  {alert(pasfor+',你已经登录过了')}
else 
  {
              if (username!=null && username!="")
            {
              setCookie('username',username,365)
            }
  }
}
</script>
        <link rel="icon" type="../../image/Icon" href="../../image/Icon/big/1.png">
        <link rel="icon" type="../../image/Icon" href="../../image/Icon/big/1.ico">


        <!-- CSS -->
        <link rel="stylesheet" href="../../css/reset.css">
        <link rel="stylesheet" href="../../css/supersized.css">
        <link rel="stylesheet" href="../../css/style.css">
          <style type="text/css">
           .nos{
				text-align:center;
				color:red;
				font-size:60px;
				width:80%;
				margin-left:11%;
              }

          </style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
<div class="nos">
<noscript class="nos">
<pre>
<b>
OMG!!!!我们检测到你的浏览器可能因为太古老
不支持JavaScript的功能或者你没有对我们开启
Script功能的权限，请使用支持JavaScript功能
的浏览器或者开启Script权限，谢谢合作!!!!!
</b>
</pre>
</noscript>
</div>

        <div class="page-container">
            <h1 title="请您登录">登录</h1>
            <form action="" method="post">
                <input type="text" name="username" class="username" placeholder="用户名/领取码" title="请输入你的用户名/领取码">
                <input type="password" name="password" class="password" placeholder="密码/指定密码" title="请输入你的密码/指定密码">
                <button onclick="checkCookie()" type="submit" title="点击马上登录/领取相关内容">登录/领取</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>相关链接：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                <p>
                    <a title="facebook（需科学上网）" class="facebook" target="_blank" href="https://www.facebook.com/yangyang.zhang.142035"></a>
                    <a title="twitter（需科学上网）" class="twitter" target="_blank" href="https://twitter.com/project_toms?lang=zh-cn"></a>
                    <a title="微信" class="weixin" target="_blank"href="About Us.htm"></a>
                    <a title="网易邮箱" class="wangyi" target="_blank"href="About Us.htm"></a>


                </p>
            </div>
        </div>
       
        <!-- Javascript -->
        <script type="text/javascript" src="../../javascript/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="../../javascript/supersized.3.2.7.min.js"></script>
        <script type="text/javascript" src="../../javascript/supersized-init.js"></script>
        <script type="text/javascript" src="../../javascript/Sign in-scripts.js"></script>
        <script type="text/javascript">
function getCookie(c_name)
{
if (document.cookie.length>0)
{ 
c_start=document.cookie.indexOf(c_name + "=")
if (c_start!=-1)
{ 
c_start=c_start + c_name.length+1 
c_end=document.cookie.indexOf(";",c_start)
if (c_end==-1) c_end=document.cookie.length
return unescape(document.cookie.substring(c_start,c_end))
} 
}
return ""
}

function setCookie(c_name,value,expiredays)
{
var exdate=new Date()
exdate.setDate(exdate.getDate()+expiredays)
document.cookie=c_name+ "=" +escape(value)+
((expiredays==null) ? "" : "; expires="+exdate.toGMTString())
}

function checkCookie()
{
pasfor=getCookie('username')
if (pasfor!=null && pasfor!="")
  {alert(pasfor+',你已经登录过了')}
else 
  {
            if (username!=null && username!="")
            {
              setCookie('username',username,365)
            }
  }
}
</script>

<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

    </body>

</html>

